# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [22]:
import pandas as pd
import numpy as np

In [23]:
np.random.randint?

In [24]:
#population = (np.random.rand(10)*10000000).astype(int)
population = np.random.randint(low =0, high = 1000000000, size=10)
country=[]

for i in range(10):
    j='country'+str(i)
    country.append(j)


data = {'國家':country ,
        '人口': population }
data = pd.DataFrame(data)

In [25]:
print(country,population)
data

['country0', 'country1', 'country2', 'country3', 'country4', 'country5', 'country6', 'country7', 'country8', 'country9'] [587612057 501978653 121276690 497028554 419137861 284388211 115494116
 131910299 890997574 367697399]

         國家         人口
0  country0  587612057
1  country1  501978653
2  country2  121276690
3  country3  497028554
4  country4  419137861
5  country5  284388211
6  country6  115494116
7  country7  131910299
8  country8  890997574
9  country9  367697399

In [26]:
max_ind = population.argmax()
max_ind

8

In [27]:
order = {0:'1st', 1: '2nd', 2:'3rd', 3:'4th', 4:'5th',5:'6th', 6:'7th', 7:'8th',8: '9th', 9:'10th'}
print(f'the most population country is the: {order[max_ind]} country ')

the most population country is the: 9th country